.column {
  float: left;
  width: 47%;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  border: 1px solid #333;
}
